/* photo gallery */
.gallery-list {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul.gallery {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.gallery li {
  float: left;
  width: 400px;
  text-align: center;
}
.clearLeft {
  clear: left;
}
/* end of photo gallery */
