{{ define "main" }}
  {{ if .IsHome }}
  {{ if .Site.Params.slider }}
  {{- $image_dir := .Site.Params.slider -}}
  {{- $slide_dir := printf "static%s" $image_dir -}}
  <!-- <header> -->
  <!--   <div class="swiper-container"> -->
  <!--     <div class="swiper-wrapper"> -->
  <!--     {{- range $link := readDir $slide_dir | shuffle | first 4 -}} -->
  <!--       {{ $image := printf "%s/%s" $image_dir $link.Name }} -->
  <!--        <div class="swiper-slide"><img src="{{ $image | safeHTML }}"></div> -->
  <!--     {{- end -}} -->
  <!--     </div> -->
  <!--     <div class="swiper-button-prev swiper-button-white"></div> -->
  <!--     <div class="swiper-button-next swiper-button-white"></div> -->
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"></script> -->
  <!--     <script> -->
  <!--       var swiper = new Swiper('.swiper-container', { -->
  <!--       　loop: true, -->
  <!--         // direction:'vertical', -->
  <!--         navigation: { -->
  <!--           nextEl: '.swiper-button-next', -->
  <!--           prevEl: '.swiper-button-prev', -->
  <!--         }, -->
  <!--         autoplay: { -->
  <!--           delay: 5000, -->
  <!--         }, -->
  <!--         slidesPerView: 1.5, -->
  <!--         centeredSlides: true, -->
  <!--       }); -->
  <!--     </script> -->
  <!--   </div> -->
  <!-- </header> -->
  <article class="post">
    <div id="content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  {{ end }}
  {{ $paginator := .Paginate (cond .IsHome (where site.RegularPages "Type" "in" site.Params.mainSections) (.Data.Pages) ) }}
  {{ range $paginator.Pages }}
    {{ .Render "content-list" }}
  {{ end }}
  <div class="pagination">
    {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}" class="button left"><span>{{ i18n "previous_page" }}</span></a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}" class="button right"><span>{{ i18n "next_page" }}</span></a>
    {{ end }}
  </div>
{{ end }}
