<section id="site-sidebar">
  {{ if and .Site.Params.sidebar.facebook .IsHome }}
    <section id="facebook">
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0" nonce="eYoY0haq"></script>
      <div class="fb-page" data-href="https://www.facebook.com/jpec2012" data-tabs="timeline" data-width="500" data-height="800" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/jpec2012" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/jpec2012">一般社団法人　日本植物輸出協議会</a></blockquote></div>
    </section>
  {{ end }}

  {{ if not .IsHome }}
  {{ $section := "news" }}{{ if eq .Section "galleries" }}{{ $section = .Section }}{{ end }}
    <section id="recent-posts">
      <header>
        <h1>{{ if eq $section "galleries"}}{{ i18n "recent_galleries" }}{{ else }}{{ i18n "recent_posts" }}{{ end }}</h1>
      </header>
      {{ range first (.Site.Params.sidebar.postAmount | default 5) (where site.RegularPages "Type" $section) }}
      <article class="mini-post">
          {{ if eq .Section "galleries" }}
            {{- $image_list := (.Page.Resources.ByType "image") -}}
            {{- $image := index $image_list 0 -}}
            {{- $alt := .Title -}}
            {{- $stretch := .Site.Params.imageStretch -}}
            {{ if $image }}
              <a href="{{ .Page.RelPermalink }}" class="image"{{ if not (.Params.removeBlur | default .Site.Params.removeBlur) }} style="--bg-image: url('{{ $image.Permalink }}');"{{ end }}>
                <img {{ with $stretch }}class='{{ if or (eq (lower .) "vertical") (eq (lower .) "v") }}stretchV{{ else if or (eq (lower .) "horizontal") (eq (lower .) "h") }}stretchH{{ else if or (eq (lower .) "cover") (eq (lower .) "c") }}cover{{ end }}' {{ end }}src="{{ $image.Permalink }}" alt="{{ $alt }}">
            </a>
            {{ end }}
          {{ else }}
            {{ .Render "featured" }}
          {{ end }}
        <header>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <time class="published" datetime="{{ .Date }}">{{ .Render "date" }}</time>
        </header>
      </article>
      {{ end }}
      {{ if ge (len (where site.RegularPages "Type" $section)) (.Site.Params.sidebar.postAmount | default 5) }}
        <footer>
          {{ if eq .Section "news" }}
          <a href="{{ ( .Site.Params.viewMorePostsLink | default $section) | relLangURL }}" class="button">{{ i18n "see_more" }}</a>
          {{ else }}
          <a href="{{ ( .Site.Params.viewMoreGalleriesLink | default $section) | relLangURL }}" class="button">{{ i18n "see_more" }}</a>
          {{ end }}
        </footer>
      {{ end }}
    </section>

  {{ if .Site.Params.sidebar.categories }}
    {{ if ne ($.Scratch.Get "showCategories") false }}
      <section id="categories">
        <header>
          <h1><a href="{{ "categories" | relLangURL }}">{{ i18n "categories" (len .Site.Taxonomies.categories) }}</a></h1>
        </header>
        <ul>
          {{ $.Scratch.Set "categories" (cond .Site.Params.sidebar.categoriesByCount .Site.Taxonomies.categories.ByCount .Site.Taxonomies.categories.Alphabetical) }}
          {{ range $key, $value := $.Scratch.Get "categories" }}
          <li>
              <a href="{{ printf "%s/%s" "categories" $value.Name | urlize | relLangURL }}/">{{ $value.Name }}<span class="count">{{ $value.Count }}</span></a>
          {{ end }}
          </li>
        </ul>
      </section>
    {{ end }}
  {{ end }}
  {{ end }}

  {{ if .Site.Params.sidebar.ec }}
    <section id="mini-bio">
      <header>
        <h1>{{ i18n "e-commerce" }}</h1>
      </header>
      <footer>
        <a href="{{ .Site.Params.sidebar.ec.url | absURL }}">
          <img src="{{ .Site.Params.sidebar.ec.src }}" alt="{{ .Site.Params.sidebar.ec.src }}" >
        </a>
      </footer>
    </section>
  {{ end }}

  {{ if .Site.Params.sidebar.about }}
    <section id="mini-bio">
      <header>
        <h1>{{ i18n "about" }}</h1>
      </header>
      <p>{{ .Site.Params.sidebar.about | safeHTML }}</p>
      <footer>
        <a href="{{ "about" | relLangURL }}" class="button">{{ i18n "learn_more" }}</a>
      </footer>
    </section>
  {{ end }}

</section>
